* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  background: var(--bg);
  color: var(--tertiary);
}

:root {
  --primary:#99cccc;
  --secondary: #339999;
  --tertiary: #110454;
  --bt: #006666;
  --bg: #E9F1F0;
}

