* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  background: var(--bg);
  color: var(--secondary);
}

:root {
  --primary:#003B73;
  --secondary: #0074B7;
  --bt: #60A3D9;
  --bg: #E9F1F0;
}

